*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blue: #308FFF;
    --green: #54c98f;
    --orange: #ffae31;
    --navyBlue: #33179c;
    --red: #ff4d63;
    --gold: #A7823B;
    --grey: #d8d8d8;
}

html,
body {
    height: 100%;
    font-family: var(--font-madani), sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}